<div class="top-bar">
    <div class="top-bar-left">
        <img src="" alt="Eskimo-nation cool web development Northampton, UK" />
    </div>
    <div class="top-bar-right">
    <ul class="menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li> <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
    </ul>
    </div>
</div>