{{ partial "header.html" . }}
<div class="row small-12 medium-6">
    <div class="small-12 medium-6 columns">
        <article>
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </article>
    </div>
    <div class="small-12 medium-6 columns">
            <form name="contact" method="POST" data-netlify="true"  data-netlify-recaptcha="true">
            <p>
                <label>Your Name: <input type="text" name="name" /></label>   
            </p>
            <p>
                <label>Your Email: <input type="email" name="email" /></label>
            </p>
            <p>
                <label>Message: <textarea name="message"></textarea></label>
            </p>
            <div class="g-recaptcha" data-sitekey="6Ldy2KwUAAAAADFyg_VYhv0Sx-lc7TQMhZEaeHoF"></div>
            <p>
                <button type="submit">Send</button>
            </p>
            </form>
    </div>
</div>
{{ partial "footer.html" . }}